body {
    font-family: 'Special Elite', regular;
}

.container > h1 {
    text-align: center;
    font-size: 3em;
    color: #f2b632;
}

p {
    font-size: 22px;
    line-height: 1.5;
    color: #677077
}

section {
    padding: 4em 0;
}

form {
  @media screen and (max-width: 768px) and (min-width: 485px) {
    max-width: 70%;
  }
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.navbar a,
.about p {
    text-align: center;
}

.navbar a {
    font-size: 20px;
}

.navbar-default {
    background: #252839;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #f2b632;
}

.navbar-default:hover, 
.navbar-default:focus{
    color: #f2b632;
}

.navbar-default .navbar-brand {
    color: #f2b632;
}

.navbar button {
    background-color: #f2b632;
}

.heading {
    position: relative;
    height: 1080px;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("http://i.imgur.com/K2Rq02Z.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.head-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 0;
    margin: auto;
    height: 160px;
    color: #f2b632;
    font-family: 'Special Elite', regular;
    text-align: center;
    letter-spacing: .1em;
    font-size: 6em;
}

.about {
    font-family: 'Special Elite', regular;
    text-align: center;
}


.skills {
    background: #f2b632;
}

.skills h1 {
    color: #677077;
}

.skills img {
    width: 130px;
    height: 150px;
}

.skills p {
    text-align: center;
}

.sort{
    
}

.contact .form-control:focus {
    border-color: #fff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1), 0 0 8px rgba(242, 182, 50, 1);
}

.contact .btn {
    padding: .5rem 1.75rem;
    background: #252839;
    font-size: 1.5em;
    color: #f2b632;
  
  &:hover,
  &:focus {
        background: #f2b632;
        border-color: darken(#252839, 10%);
  }
}

footer {
    background: #f2b632;
    padding: 8em 0;
}