body {
    font-family: 'Special Elite', regular;
}

.container > h1 {
    text-align: center;
    font-size: 3em;
    color: #f2b632;
}

p {
    font-size: 22px;
    line-height: 1.5;
    color: #677077
}

section {
    padding: 4em 0;
}

form {
  @media screen and (max-width: 768px) and (min-width: 485px) {
    max-width: 70%;
  }
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.hanoi-header {
    padding-top: 2%;
    text-align: center;
    color: #f2b632;
}

.navbar a,
.about p {
    text-align: center;
}

.navbar a {
    font-size: 20px;
}

.navbar-default {
    background: #252839;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #f2b632;
}

.navbar-default:hover, 
.navbar-default:focus{
    color: #f2b632;
}

.navbar-default .navbar-brand {
    color: #f2b632;
}

.navbar button {
    background-color: #f2b632;
}

.heading {
    position: relative;
    height: 1080px;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("http://i.imgur.com/K2Rq02Z.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.head-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 0;
    margin: auto;
    height: 160px;
    color: #f2b632;
    font-family: 'Special Elite', regular;
    text-align: center;
    letter-spacing: .1em;
    font-size: 6em;
}

.about {
    font-family: 'Special Elite', regular;
    text-align: center;
}


.skills {
    background: #f2b632;
}

.skills h1 {
    color: #677077;
}

.skills img {
    width: 130px;
    height: 150px;
}

.skills p {
    text-align: center;
}

.hanoi-algorithm {
    background: #252839;
}
#hanoi-algorithm div::after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear: both;
}
#hanoi-algorithm > div > div {
	position: relative;
	padding-top: 21.367521%;
}
#hanoi-algorithm > div > div > div {
	top: 0;
	position: absolute;
}
.hanoi-algorithm h1 {
    padding-bottom: 1em;
}

.disc {
    border-radius: 25%;
    box-shadow: 1px 1px 1px 2px #fff;
    /* position: absolute; */
    transition: all 0.4s;
}

.disc-6 {
	background-color: #f2b632;
	padding-top: 21.367521%;
	width: 21.367521%;
}

.disc-5 {
	background-color: #f2b632;
	margin: 2.136752%;
	width: 17.094017%;
	padding-top: 17.094017%;
}

.disc-4 {
	background-color: #f2b632;
	margin: 4.273504%;
	width: 12.820512%;
	padding-top: 12.820512%;
}

.disc-3 {
	background-color: #f2b632;
	margin: 6.410256%;
	width: 8.547008%;
	padding-top: 8.547008%;
}

.disc-2 {
	background-color: #f2b632;
	margin: 8.547008%;
	width: 4.273504%;
	padding-top: 4.273504%;
}
.disc-1 {
	background-color: #f2b632;
	margin: 9.615384%;
	width: 2.136752%;
	padding-top: 2.136752%;
}
.towerA {
    left: 4.273504%;
    transform: rotate(0deg);
}
.towerB {
    left: 39.316239%;
    transform: rotate(360deg);
}
.towerC {
    left: 74.358974%;
    transform: rotate(720deg);
}
.contact .form-control:focus {
    border-color: #fff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1), 0 0 8px rgba(242, 182, 50, 1);
}
.contact .btn {
    padding: .5rem 1.75rem;
    background: #252839;
    font-size: 1.5em;
    color: #f2b632;
  
  &:hover,
  &:focus {
        background: #f2b632;
        border-color: darken(#252839, 10%);
  }
}

footer {
    background: #f2b632;
    padding: 8em 0;
}

.footer p {
    text-align: center;
    color: #fff;
}

